
.boxComment{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
background-color: white;
color: var(--color1);
opacity: .4;
text-align: center;
justify-content: center;
width: 60%;
border-radius: 10px;
padding: 1px;
margin-bottom: 20px;
}